<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="midia/portelinha.png" type="image/x-icon">
    <title>Resumera - Nossa Equipe</title>
</head>
<body>
    <h1>Resumera</h1>
    <p class="description">Conheça os nosso time de desenvolvimento do <strong>Resumera</strong>.</p>
    <section class="div-master">
        <div class="div">
            <img class="photo" src="midia/diogo.jpg" alt="Diogo Bonet">
            <p class="name">DIOGO SOBEZAK</p>
            <p class="cargo">Scrum Master</p>
        
        </div>

        <div class="div">
            <img class="photo" src="midia/felipe_vermelho.jpg" alt="Felipe Vermelho">
            <p class="name">FELIPE VERMELHO</p>
            <p class="cargo">Database Developer</p>
        
        </div>

        <div class="div">
            <img class="photo" src="midia/gbxchad.jpg" alt="Gabriel Mocellin">
            <p class="name">GABRIEL MOCELLIN</p>
            <p class="cargo">WEB Developer</p>
        </div>

        <div class="div">
            <img class="photo" src="midia/portelao.jpg" alt="Victor Portelinha">
            <p class="name">VICTOR PORTELINHA</p>
            <p class="cargo">WEB Developer</p>
        </div>

        <div class="div">
            <img class="photo" src="midia/vittorio.jpg" alt="Vittorio">
            <p class="name">VITTORIO CAPRIOLI</p>
            <p class="cargo">Developer</p>
        </div>
    </section>
</body>
</html>