/* CONFIGURAÇÕES DA PÁGINA */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap'); 

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;  
*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;  
    background-color: #CCE5F4;
    
}

strong {
    color: #0c51cf;
}

h1 {
    color: #0c51cf;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 1.5%;
}

/* CONTEUDO */
.description {
    text-align: center;
    margin-top: 3%;
    font-size: 1.1em;
}

.photo {
    border-radius: 50%;
    box-shadow: 3px 3px 3px gray;
    max-width: 70%;
    max-height: 50%;
    margin-left: 1%;
}

.div-master {
    display: flex;
    flex-direction: row;
}

.div {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.name {
    margin-top: 2%;
    font-weight: bold;
}

.cargo {
    font-size: 14px;
    color: #0c51cf;
}