@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; 
font-family: 'Nunito Sans', sans-serif; 
*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

strong {
    color: #0c51cf;
}

/* CABEÇALHO */

.cabecalho {
    background-color: #0c51cf;
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-menu{
    display: flex;
    gap: 50px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.cabecalho nav a:hover {
   text-decoration: underline;
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: #efefef;
    width: 110px;
}

/* CONTEUDO */

.logo-title {
    font-family: 'Poppins', sans-serif;
    color: #0c51cf;
    font-size: 35px;
}

.conteudo {
    border-top: 2px solid #0c51cf;
}

.conteudo-principal {
    margin-top: 5%;
    margin-left: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-sub {
    font-family: 'Roboto Slab', serif;
    font-size: 20px
}

.botao {
    margin-top: 15px;
    background-color: #0c51cf;
    color: white;
    width: 160px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px lightblue;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
}
.botao:hover {
    background-color: #6975ad;
}

.imagem-principal {
    transition-timing-function: ease;
    transition-duration: 2s;
    transition-delay: 2s;
}


/* ================SOBRE NÓS================= */

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 200px;
}

.sobrenos-titulo {
    align-items: center;
    border-top: 2px solid #0c51cf;
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-left: 310px;
}

.sobrenos-sub {
    font-size: 21px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: space-between;
    text-align: center;
    margin-left: 52px;
}

.imagem-sobrenos {
    margin-left: 870px;
    margin-top:-185px;
}

/* =============CONTATOS======================== */

.contatos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 166px;
    justify-content: space-around;
}

.contatos-titulo {
    border-top: 2px solid #0c51cf;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-right: 250px;
}

.contatos-sub {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin-top: 10px; 
    margin-right: 52px;
}

.contatos-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 21px;
    gap: 62px;
    margin-right: 86px;
    font-family: 'Nunito Sans', sans-serif;
}

.img-contato {
    margin-left: 177px;
    margin-top:-185px;
    margin-bottom: 12px;
}

/* RODAPÉ */

footer {
    background-color: #0c51cf;
    margin-top: 20px;
    color: white;
}

.rodape-logo {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 110px;
    margin-left: 30px;
}

.rodape-contain {
    display: flex;
    gap: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    color: white;
}

.rodape-nav {
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    
}

.rodape-sub {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    border-top: 1px solid white;
}

.rodape-contain a:hover {
    text-decoration: underline;
    color: #233961;
}