@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */
/* font-family: 'Nunito Sans', sans-serif; */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

strong {
    color: blue;
}

/* CABEÇALHO */

.cabecalho {
    background-color: blue;
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-menu{
    display: flex;
    gap: 50px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: #efefef;
    width: 110px;
}

/* CONTEUDO */

.logo-title {
    font-family: 'Poppins', sans-serif;
    color: blue;
    font-size: 35px;
}

.conteudo {
    border-top: 2px solid blue;
}

.conteudo-principal {
    margin-top: 5%;
    margin-left: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-sub {
    font-family: 'Roboto Slab', serif;
    font-size: 20px
}

.botao {
    margin-top: 15px;
    background-color: blue;
    color: white;
    width: 160px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px lightblue;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
}
.botao:hover {
    background-color: rgb(80, 19, 177);
}



/* ================SOBRE NÓS================= */

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 156px;
}

.sobrenos-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid blue;
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
}

.sobrenos-sub {
    margin-top: 102px;
    font-size: 21px;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: space-between;
}

/* =============CONTATOS======================== */

.contatos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 166px;
    justify-content: space-around;
}

.contatos-titulo {
    border-top: 2px solid blue;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-right: 250px;
}

.contatos-sub {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;    
    margin-right: 52px;
}

.contatos-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 21px;
    gap: 62px;
    margin-right: 86px;
    font-family: 'Nunito Sans', sans-serif;
}

.img-contato {
    margin-left: 195px;
    margin-top:-185px;
    margin-bottom: 12px;
}

/* RODAPÉ */

footer {
    background-color: blue;
    margin-top: 20px;
    color: white;
}

.rodape-logo {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 110px;
    margin-left: 30px;
}

.rodape-contain {
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
}

.rodape-nav {
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.rodape-sub {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    text-align: center;
    border-top: 1px solid white;
}