<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Resumera</h1>
            <input type="text" name="" id="">
            <nav>
                Home
                Matérias
                Ranking Mensal
                Postar
            </nav>
        </div>
    </header>

    <main>
        <section class="section-principal">
            <div class="profile-content">
                <img src="midia/gbxchad.jpg" alt="GBEX" id="img-profile">
                <h2 class="text-principal">Diogo Sobezak</h2>
                <h3 class="text-principal">@diogobonet</h3>
                <button class="editprofile">Editar Perfil</button>
                <a href=""><img src="" alt=""></a>
            </div>
            <div class="content-principal">
                <h1 id="myresumos">Meus resumos</h1>
            </div>
        </section>