/*---------------------------------------- CONFIG DA PÁGINA---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap'); /* Roboto e Poppins */
/* 
font-family: 'Poppins', sans-serif; // Logo
font-family: 'Roboto', sans-serif; // Sistema
*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*---------------------------------------- HEADER ---------------------------------------- */
.container {
    display: flex;
    flex-direction: row;
    background-color: #0c51cf;
    padding: 1%;
    gap: 2%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 6px;
}

/* .container-input {
    background-color: lightgray;
    border-radius: 20px;
    width: 20%;
} */

nav {
    color: white;
    text-align: center;
}

.container-link {
    text-decoration: none;
    color: white;
}

/*---------------------------------------- CONTEÚDO ---------------------------------------- */

.section-principal {
    display: flex;
    flex-direction: row;
}

/* INFORMAÇÕES DO USUÁRIO (FOTO/NOME/USUÁRIO) */

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    width: 20%;
    border: 1px solid black;
}

#img-profile {
    border-radius: 50%;
    width: 70%;
}

/* CONTEUDO PRINCIPAL DA PÁGINA (RESUMOS) */

.content-principal {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid black;
    padding: 5%;
}

.text-principal {
    padding: 2px;
}

#resumos-title {
    text-align: center;
}

/* Meus resumos favoritos */

.resumos {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.resumo-fav {
    padding: 5%;
    border: 2px solid lightgray;
    border-radius: 2%;
    margin-left: 5%;
}

.resumo-fav:hover {
    border: 2px solid gray;
}