* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: red;
    padding: 1%;
}

#img-profile {
    border-radius: 50%;
    width: 70%;
}

.section-principal {
    display: flex;
    flex-direction: row;
}


.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    width: 20%;
    border: 1px solid black;
}

.content-principal {
    width: 80%;
    text-align: center;
    border: 1px solid black;
    display: flex;
    padding: 5%;
}

.text-principal {
    padding: 2px;
}

#myresumos {
    text-align: center;
}