@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; 
font-family: 'Nunito Sans', sans-serif; 
font-family: 'Comfortaa', cursive;
*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

strong {
    color: #0c51cf;
}

/* CABEÇALHO */

.cabecalho {
    background-color: #0c51cf;
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-menu{
    display: flex;
    gap: 50px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.cabecalho nav a:hover {
   text-decoration: underline;
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: #efefef;
    width: 110px;
}

/* CONTEUDO */

#content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:98vw;
    height:96vh;    
}

#content .titulo {
    font-family: 'Poppins', sans-serif; font-size:45px; font-weight: bold;
    color: rgb(33, 81, 255);
}

#form {
    font-size:26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display:flex;
    padding:40px;
    background-color:rgb(211, 239, 249);
    height:70vh;
    width:40%;
    box-shadow: 3px 3px 3px rgb(50, 50, 50);
    border: solid; border-width: 2px; border-radius: 25px;
}

#form label {
    font-family: 'Poppins', sans-serif;
}

.form-icon {
    width: 48px; height: 48px;
}

.div-input {
    display:flex;
    margin-bottom:30px;
    width:80%;
    flex-direction:column;
    justify-content:center;
}

.div-input .input-box {
    padding: 0 0 0 16px;
    font-size:16px;
    border: none;
    border-bottom: 1px solid #0c51cf;
    border-radius:5px;
    height:48px;
    width:100%;
    background-color:#f0f4ff;
}

.div-input .input-box:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#submit-button {
    border:none;
    border-radius:50px;
    font-family: 'Poppins', sans-serif;
    background-color:#0c51cf;
    width:25%; height:35px;
    font-size:25px;
    color:white;
}