* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: red;
    padding: 1%;
}

img {
    border-radius: 80%;
    width: 40%;
}

button {
    width: 20%;
    
}

.section-principal {
    display: flex;
    flex-direction: row;
}

.profile-content {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 20%;
    border: 1px solid black;
}

.content-principal {
    width: 60%;
    border: 1px solid black;
    display: flex;
}