<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumera | Premium</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>

    </header>

    <main>
        <h2>Premium</h2>
        <div>
            <h3>Resumera Gratuito</h3>
            <p>Quais são os beneficios</p>
            <ul>
                <li>Anúncios</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Perfil padrão</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
        </div>
            
        <div>
            <h3>Resumera Premium</h3>
            <p>Quais são os beneficios</p>
            <ul>
                <li>Sem anúncios</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Personalização própria do Perfil</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>